<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>

    <link rel="stylesheet" href="/css/admin/main.css">
    <link rel="stylesheet" href="/css/admin/dashboard.css">

    <script src="/js/main.js"></script>
</head>
<body>
     <div class="header">
        <div class="left">
            <div class="brand">
                <img src="/images/logo.png" alt="">
                <p>Music</p>
            </div>
        </div>
        <div class="center">

        </div>
        <div class="right">
            <div class="account">
                <p>Sam</p>
                <a href="/admin/logout" class="logout">Logout</a>
            </div>
        </div>
     </div>
     <div class="songstablediv">
         <h1 class="title">Movies</h1>
         <div class="searchdiv">
             <input type="text" id="searchtxt" placeholder="Search for song or Movie...">
             <button class="addnew" id="addnew">Add New Movie</button>
         </div>
         <table>
             <tr class="tableheader">
                 <th>Name</th>
                 <th>Year</th>
                 <th>Actions</th>
             </tr>
             <tr>
                <td>Saaho</td>
                <td>2019</td>
                <td><div class="buttongroup">
                    <button class="edit" id="edit">Edit</button>
                    <button class="delete" id="delete">Delete</button>
                </div></td>
             </tr>
         </table>
     </div>
</body>
</html>