<div class="newrealease">
    <h4>New Releases<span id="viewmore">View More</span></h4><br>
    <div class="movies">
        <div class="movie">
            <img src="https://static.toiimg.com/thumb/msid-71674016,width-219,height-317,imgsize-31907/71674016.jpg" alt="">
            <p class="name">Whistle</p>
            <p class="year">2019</p>
        </div>
        <div class="movie">
            <img src="https://static.toiimg.com/thumb/msid-71674016,width-219,height-317,imgsize-31907/71674016.jpg" alt="">
            <p class="name">Whistle</p>
            <p class="year">2019</p>
        </div>
        <div class="movie">
            <img src="https://static.toiimg.com/thumb/msid-71674016,width-219,height-317,imgsize-31907/71674016.jpg" alt="">
            <p class="name">Whistle</p>
            <p class="year">2019</p>
        </div>
        <div class="movie">
            <img src="https://static.toiimg.com/thumb/msid-71674016,width-219,height-317,imgsize-31907/71674016.jpg" alt="">
            <p class="name">Whistle</p>
            <p class="year">2019</p>
        </div>
        <div class="movie">
            <img src="https://static.toiimg.com/thumb/msid-71674016,width-219,height-317,imgsize-31907/71674016.jpg" alt="">
            <p class="name">Whistle</p>
            <p class="year">2019</p>
        </div>
        <div class="movie">
            <img src="https://static.toiimg.com/thumb/msid-71674016,width-219,height-317,imgsize-31907/71674016.jpg" alt="">
            <p class="name">Whistle</p>
            <p class="year">2019</p>
        </div>
    </div>
</div>