<div class="logindiv">
    <form onsubmit="return loginsumbit(event)">
        <h1>Login</h1><br>
        <input type="text"  placeholder="Username..." id="username">
        <input type="password" name="password" id="password" placeholder="Password...">
        <button id="loginbtn"><i class="fas fa-lock"></i>  Login</button>
    </form>
</div>