<div class="logindiv">
    <form onsubmit="return registerfunction(event)">
        <h1>Register</h1><br>
        <input type="text"  placeholder="Username..." id="username">
        <input type="password" name="password" id="password" placeholder="Password...">
        <button id="registerbtn"><i class="fas fa-user"></i>  Register</button>
    </form>
</div>