.mobileheader {
  display: none;
}

.mobile-pause {
  display: none;
}

@media screen and (max-width: 500px) {
  .search {
    display: none;
  }
  .mobileheader {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: solid 1px #FF2A66;
    margin-bottom: 20px;
  }
  .mobileheader img {
    width: 50px;
  }
  .mobileheader .buttongroup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 60%;
    margin-top: 10px;
  }
  .mobileheader .buttongroup .login {
    color: #FF2A66;
  }
  .mobileheader .buttongroup .register {
    color: #FF583B;
  }
  .sidebar {
    display: none;
  }
  .mainbody {
    width: 80%;
    right: 0;
    position: static;
    z-index: 1;
    height: calc(100% - 130px);
    margin-bottom: 100px;
    margin: 0 auto;
    margin-bottom: 80px;
  }
  .movie-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    padding: 0 !important;
  }
  .movie-details .movie-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .movie-details img {
    width: 100px !important;
    height: 100px !important;
  }
  .movie-details .movie-right {
    width: 100% !important;
  }
  .player {
    z-index: 100;
    width: 100%;
    background: #232323;
    padding: 15px;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 0;
  }
  .player .player-actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .player .mobile-pause {
    font-size: 20px !important;
    position: absolute;
    left: 40px;
    color: white;
    display: block;
  }
  .player .mobile-pause svg {
    fill: white;
  }
  .player .mobile-player-timing {
    width: 100%;
    height: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    bottom: 10px;
  }
  .player .mobile-player-timing .played {
    width: 0%;
    height: 5px;
    background: #FF2A66;
  }
  .player .mobile-player-timing .not-played {
    width: 100%;
    height: 5px;
    background: white;
  }
  .player .actions {
    display: none !important;
  }
}
/*# sourceMappingURL=index.css.map */