@import "colors";
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
}
body
{
    background: black;
    color: white;
}
.sidebar
{
    max-width: 300px;
    width: 30%;
    background: $color4;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .brand
    {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        flex-direction: column;
        color: $color3;
        font-weight: bold;
        font-size: 20px;
        img
        {
            text-align: center;
            width: 50px;
            margin-bottom: 10px;
        }

    }
    hr
    {
        width: 80%;
        margin-top: 10px;
        margin-bottom: 10px;
        border-color: gray;
    }
    .account
    {
        display: flex;
        width: 80%;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        a
        {
            text-decoration: none;
            color: white;
            padding: 5px 10px;
            border-radius: 50px;
            text-align: center;
            margin-bottom: 10px;
            width: 80%;
        }
        .login
        {
            background-color: $color1;
        }
        .register
        {
            background-color: $color2;
        }
        .username
        {
            margin-bottom: 5px;
        }
    }
    // .footer
    // {
    //     width: 100%;
    //     position: absolute;
    //     bottom: 0;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    // }
    .queue
    {
        height: 60%;
        display: flex;
        width: 80%;
        flex-direction: column;
        overflow-y: auto;

        h4
        {
            font-weight: normal;
            text-align: left;
            margin-bottom: 20px;
        }
        .song
        {
            display: flex;
            height: auto;
            padding: 10px;
            align-items: center;
            .imgwithheart
            {
                img
                {
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                }
                i
                {
                    position: relative;
                    left: -20px;
                    top: 10px;
                }
            }
            .details
            {
                .songname
                {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    font-size: 12px;
                    width: 100px;
                }
                .movie
                {
                    font-weight: 100;
                    font-size: 10px;
                    color: rgb(131, 131, 131);
                }
            }
            .menubtn
            {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-left: auto;
            }
        }
        .song:hover
        {
            background-color: rgba(128, 128, 128, 0.144);
            cursor: pointer;
        }
    }
    .queue::-webkit-scrollbar {
        width: 0px;
    }
    
    .queue::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    .queue::-webkit-scrollbar-thumb {
        background: #888;
    }
    
    .queue::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.player
{
    background-color: $color4;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 80px;
    width: 70%;
    min-width: calc(100% - 300px);
    display: flex;
    align-items: center;
    justify-content: center;
    .playeractions
    {
        padding-left: 20px;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .moviedetails
        {
            display: flex;
            .songname
            {
                font-size: 15px;
            }
            .moviename
            {
                margin-left: 10px;
                font-size: 12px;
                color: gray;
                background-color: rgba(0, 0, 0, 0.514);
                padding: 5px;
                border-radius: 10px;
                cursor: pointer;
            }
        }
        .actions
        {
            width: 100%;
            display: flex;
            align-items: center;
            svg
            {
                cursor: pointer;
            }
            .nextprevpause
            {
                display: flex;
                align-items: center;
                i
                {
                    font-size: 30px;
                }
                svg
                {
                    fill: white;
                }
            }
        }
        .presentduration
        {
            width: 40px;
        }
        .progress
        {
            width: 70%;
            background-color: white;
            height: 5px;
            border-radius: 50px;
            -webkit-appearance: none;
            border-radius: 5px;  
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }
        .progress::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 15px;
            height: 15px;
            border-radius: 50%; 
            background:  $color2;
            cursor: pointer;
          }
          
          .progress::-moz-range-thumb {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: $color2;
            cursor: pointer;
          }
    }
}
.search
{
    position: absolute;
    right: 10px;
    top: 10px;
    input
    {
        background-color: white;
        padding: 5px;
        border-radius: 50px;
    }
    input::placeholder
    {
        color: black;
    }
}
.mainbody
{
    width: calc(70% - 60px);
    min-width: calc(100% - 360px);
    height: calc(100% - 130px);
    top: 50px;
    position: absolute;
    right: 0;
    right: 20px;
    .movie
    {
        padding: 10px;
        margin-right: 40px;
        cursor: pointer;
        img
        {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-position: top;
            object-fit: cover;
        }
        .name
        {
            font-size: 15px;
        }
        .year
        {
            color: gray;
            font-size: 12px;
            width: fit-content;
        }
        .year:hover
        {
            color: $color2;
        }
        
    }
    .movie:hover
    {
        background-color: rgba(255, 255, 255, 0.055);
    }
    #viewmore
    {
        color: $color1;
        font-size: 12px;
        font-weight: normal;
        margin-left: 5px;
        cursor: pointer;
    }
    .movies
    {
        display: flex;
        overflow-x: hidden;
    }
    .movies:hover
    {
        overflow-x: auto;
    }
}
*::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    border-radius: 20px;

}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
    background: #888;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}









.logindiv
{
    height: 100%;
    form
    {
        display: flex;
        flex-direction: column;
        align-items: center;    
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        input
        {
            padding: 10px;
            border-radius: 20px;
            background-color: rgba(255, 255, 255, 0.144);
            width: 200px;
            margin-bottom: 20px;
        }
        #username
        {
            border: solid 1px $color1;
            color: $color2;
        }
        #password
        {
            border: solid 1px $color2;
            color:$color1;
        }
        input::placeholder
        {
            color: white;
        }
        button
        {
            font-size: 15px;
            text-transform: uppercase;
            padding: 5px;
            width: 150px;
            border-radius: 10px;
            cursor: pointer;
            background-color: rgb(197, 197, 197);
        }
        button:hover
        {
            background-color: white;
        }
    }
}