@import "colors";
.movie-details
{
    display: flex;
    padding: 50px;
    justify-content: space-between;
    .songs
    {
        width: 100%;
    }
    .song
    {
        
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 25px;
        .left
        {

        }
        .right
        {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            a
            {
                color: white;
                margin-right: 30px;
            }
            p
            {
                cursor: pointer;
            }
            p:hover i
            {
                color: $color1;
            }
        }
    }
    .movie-left
    {
        h4
        {
            text-align: center;
        }
        p
        {
            text-align: center;
            color: gray;
        }
        img
        {
            border-radius: 50%;
            width: 200px;
            object-fit: cover;
            height: 200px;
            object-position: top;
        }
    }
    .movie-right
    {
        display: flex;
        width: 60%;
        flex-direction: column;
    }
}


    


.loaderdiv
{
    align-items: center;
    background-color: black;
    display: flex;
    justify-content: center;
}
.loader {
    width: 60px;
    margin: 0 auto;
    
}

.loader-wheel {
    animation: spin 1s infinite linear;
    border: 2px solid rgba(30, 30, 30, 0.5);
    border-left: 4px solid #fff;
    border-radius: 50%;
    height: 50px;
    margin-bottom: 10px;
    width: 50px;
}

.loader-text {
    color: #fff;
    font-family: arial, sans-serif;
}

.loader-text:after {
    content: 'Loading';
    animation: load 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes load {
    0% {
        content: 'Loading';
    }
    33% {
        content: 'Loading.';
    }
    67% {
        content: 'Loading..';
    }
    100% {
        content: 'Loading...';
    }
}